In [1]:
# importing required libraries

import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('Iris.csv')

In [3]:
data.head()

,length in cm,sepal width in cm,petal length in cm,petal width in cm,Species
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [4]:
data.columns

Index(['length in cm', 'sepal width in cm', 'petal length in cm',
       'petal width in cm', 'Species'],
      dtype='object')

In [5]:
encode = LabelEncoder()
data.Species = encode.fit_transform(data.Species)

In [6]:
data.head()

,length in cm,sepal width in cm,petal length in cm,petal width in cm,Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [7]:
train , test = train_test_split(data,test_size=0.2,random_state=0)

In [8]:
print('shape of training data : ',train.shape)
print('shape of testing data',test.shape)

shape of training data :  (120, 5)
shape of testing data (30, 5)

In [9]:
# seperate the target and independent variable
train_x = train.drop(columns=['Species'],axis=1)
train_y = train['Species']

In [10]:
test_x = test.drop(columns=['Species'],axis=1)
test_y = test['Species']

In [11]:
# create the object of the model
model = LogisticRegression()

model.fit(train_x,train_y)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
predict = model.predict(test_x)

print('Predicted Values on Test Data',encode.inverse_transform(predict))

Predicted Values on Test Data ['Iris-virginica' 'Iris-versicolor' 'Iris-setosa' 'Iris-virginica'
 'Iris-setosa' 'Iris-virginica' 'Iris-setosa' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-virginica' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-virginica' 'Iris-setosa' 'Iris-setosa' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-setosa']

In [13]:
print('\n\nAccuracy Score on test data : \n\n')
print(accuracy_score(test_y,predict))

Accuracy Score on test data :


1.0